body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
    
}
#navbar{
    /* border: 2px solid black; */
    position: fixed;
    width: 100%;
    height: 120px;
    border-top:5px solid black;
    display: flex;
    background-color: white;
    /* margin-top:-22px; */
}

.category{
    /* border: 2px solid blue; */
    height: 30px;
    width: 50%;
    margin-left:40px;
    margin-top:80px;
    display: flex;
    gap: 17px;

}

.logo{
    /* border: 2px solid red; */
    width: 10%;
    height: 140px;
    margin-left: 170px;
    margin-top: 0.5px;
    z-index: 2px;

}

.info{
    /* border: 2px solid teal; */
    width: 30%;
    height: 18px;
    margin-left: -120px;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.category>div{
    font-size:15px;
    font-weight:900;
}

.info>div{
   display: flex;
   font-size: 14px;
}





#findbox{
    border: 2px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width: 75%;
    margin: auto;
    height: 120px;
    margin-left:13%;
    margin-top: -80px;
    position: absolute;
    background-color: white;
   
}


.explore{
position: absolute;
margin-top: -360px;
margin-left: 170px;
color: white;
font-size: 50px;
font-weight:bolder;
z-index: 20px;

}

.btuimg{
    position: relative;
}

.ExMore{
    position: absolute;
    top: 45%;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border:1px solid white;
    cursor: pointer;
    font-weight: 600;
    
    text-align: center;
}

.findinner{
    display: flex;
    gap: 51px;
    /* border: 2px solid blue; */
    
    width: 90%;
    margin: auto;
    margin-top:25px;
    font-weight: 100;
    font-size: 15px;

}

#HotelNameinput{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

#Datesinput{
    width: 100%;
    height: 50px; 
    border-radius: 5px;
    border: 1px solid gray;
}

#HotelsSubmit{
    width: 100%;
    height: 50px; 
    margin-top: 22px;
    background-color:#444054;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

#HotelsSubmit:hover{
    background-color: #53505f;
}


.findinner>div{
    width: 30%;
    
}

#mainImageBox{
    /* border: 2px solid black; */
   
    height:657px ;
}