body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
}
#navbar{
    /* border: 2px solid black; */
    position: fixed;
    width: 100%;
    height: 120px;
    border-top:5px solid black;
    display: flex;
    background-color: white;
}

.category{
    /* border: 2px solid blue; */
    height: 30px;
    width: 50%;
    margin-left:40px;
    margin-top:80px;
    display: flex;
    gap: 17px;

}

.logo{
    /* border: 2px solid red; */
    width: 10%;
    height: 140px;
    margin-left: 170px;
    margin-top: 2px;
    z-index: 2px;

}

.info{
    /* border: 2px solid teal; */
    width: 30%;
    height: 18px;
    margin-left: -120px;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.category>div{
    font-size:15px;
    font-weight:900;
}

.info>div{
   display: flex;
   font-size: 14px;
}

