
        #container{
            /* border: 2px solid red; */
            height: 729px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
           
         
        }
        #navbar{
            display: flex;
            flex-flow: column;
        }
        #top{
            display: grid;
            /* border: 2px solid red; */
          grid-template-columns: 25% 50% 25%;
          
        }
        #other{
            /* border: 2px solid red; */
            display: flex;
            justify-content: space-around;
        }
        #search>img{
            /* width: 50px; */
            height: 97%;
            

        }
        button{
          font-size: 20px;
            /* border: 2px solid rgb(1, 253, 14); */
        }
        input{
            width: 40%;
            font-size: 30px;
        }
        #search{
            display: flex;
           
           height: 40px;
           justify-content: center;
           padding: 6px;
        }
        #some_fethurs{
            border: 2px solid black;
             display: flex;
             border-radius: 5px;
             
            justify-content: space-around;
           
           
        }
        #some_fethurs>p{
            border: 1px solid rgb(58, 56, 56);
            border-radius: 40%;
            font-size: 15px;
            font-weight: bold;
            padding: 10px;
           margin: 0.2% 0% 0.2% 0%;
           background-color: rgb(224, 226, 228);
         height: 13px;
          color: rgb(26, 23, 23);  
        }
        #some_fethurs>p:hover{
            background-color: steelblue;
            border-radius: 50%;
        }
        #main{
            /* border: 2px solid red; */
            width: 100%;
            height: 84.6%;
            display: flex;
            justify-content: space-between;

        }
        #filter{
            height: 100%;
            border: 0.2px solid black;
            scrollbar-width: thin;
            width: 22%;
            display: flex;
            flex-flow: column;
           overflow-y: scroll;
           overflow-x: hidden;
           

        }
        #filter>div{
            height: 600px;
           text-align: center;
            border-top: 1px solid gray;
        }
        #filter>div>div>h3:hover{
           cursor: pointer;
           text-decoration: underline;
           color: lightslategrey;
        }
        #filter>div>div{
            margin-left: 3%;
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            gap: 10%;
        }
        #filter>div>div>img{
            width: 30px;
            height: 30px;
            
        }
        #result{
            width: 100%;
            height: 100%;
           
             /* border: 2px solid red; */
            display: grid;
            grid-template-columns: 22% 22% 22% 22%;
            overflow: scroll;
            grid-gap: 46px;
        
        }
        #result>div>img{
            width: 100%; 
            height: 80%;
            border-radius: 3px;
        }
        img{
            height: 50px;
          
        }
        #logo{
           /* display: grid;
           grid-template-columns: 30% 60%;
            border: 2px solid  red;
           
          
            /* align-content: space-between; */
         
          display: flex
           
        }
        #logo>img{
            /* border: 2px solid red; */
            margin-right: 0px;
        }
        #yu{
            /* border: 2px solid red; */
            /* margin-left: 0px; */
            /* position: absolute; */
            font-size: 35px;
            font-weight: 900;
            margin: 0px 0px 0px 0px ;
            /* border: 2px solid red; */
            padding-left: 0px;
          
            margin-left: 0px;
           

        }
        #acount{
            border-radius: 30px;
        }
        #login{
            border: 2px solid rgb(236, 1, 1);
            margin-left: 41%;
           top: 20%;
            position: absolute;
            display: none;
            width: 350px;
            height: 400px;
            opacity: 1;
            background-color: white;
        }
         #login>div>img{
             width: 30px;
             height: 30px;
         }
         @media  screen  and (min-device-width: 0px) and (max-device-width: 480px) { 
            body{
                margin: 0px;
            }
     #container{
         justify-content: start;
     }
     #main{
         width: 100%;
       /* border: 2px solid red; */
     }
            #filter{
            display: none;
        }
        #result{
            margin-top: 0px;
            display: flex;
            flex-flow: column;
            gap: 15px;
           width: 100%;
           /* border: 2px solid red; */
        }
        #result>div{
           /* border: 2px solid red; */
           height: 340px;
           width: 100%;
          
        }
        #result>div>img{
            height: 80%;
        }
        #top{
            /* display: grid;
            grid-template-columns: 32% 50% 30% ;
            /* width: 100%;
            /* border: 2px solid red; */
            /* height: 26px;
           padding: 0px; */
           display: flex;
           justify-content: stretch;
           padding-top: 1%;
        }
        #top>div{
            /* border: 2px solid red; */
        }
   
        #menu{
            width: 20px;
            height: 100%;
        }
        #logo{
            width: 31%;
            display: flex;
            gap: 10%;
            align-items: center;
            justify-content: space-around;
        }
       #logo>img:nth-child(2){
        height: 80%;
       width: 80px; 
       margin-left: -6px;
        
        }
      
      #video{
          width: 90px;
          height: 21px;
          font-size: 15px;
      }
      #other{
          width: 26%;
          height: 26px;
          display: flex;
          justify-content: space-between;
          /* background-color: rgb(58, 56, 56); */
      }
      #other>img{
          height: 26px;
      }
      #acount{
   height: 26px;
      }
      #but{
          width: 35px;
          font-size: 10px;
          padding: 0%;
          height: 26px;
      }
      #search{
          width: 40%;
          padding: 0%;
          margin-top: 0px;
          height: 26px;
      }
      #navbar{
          position: fixed;
          height: 80px;
          background-color: aliceblue;
        /* border: 2px solid red; */
          margin-bottom: 0px;
         width: 100%;
      }
      #some_fethurs{
          margin-top: 1px;
        display: flex;
      overflow: hidden;
      justify-content: space-between;
      overflow-x: scroll;
      background-color: white;
      border: none;
      
      }
      #some_fethurs>p{
          border: none;
        width: 20%;
          border-radius: 0px;
          background-color: white;
      }
      #some_fethurs>p:hover{
        opacity: 0.7;

      }
}