body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
    
    
}

#navbar{
    /* border: 2px solid black; */
    position:fixed;
    z-index: 2;
    width: 100%;
    height: 120px;
    border-top:5px solid black;
    /* border-bottom: 2px solid gainsboro; */
    display: flex;
    background-color: white;
    /* margin-top:-22px; */
}

.category{
    /* border: 2px solid blue; */
    height: 30px;
    width: 50%;
    margin-left:40px;
    margin-top:80px;
    display: flex;
    gap: 17px;

}

.logo{
    /* border: 2px solid red; */
    width: 10%;
    height: 140px;
    margin-left: 170px;
    margin-top: 0.5px;
    z-index: 2px;

}

.info{
    /* border: 2px solid teal; */
    width: 30%;
    height: 18px;
    margin-left: -120px;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.category>div{
    font-size:15px;
    font-weight:900;
}

.category>div:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

.info>div{
   display: flex;
   font-size: 14px;
}





#findbox{
    border: 2px solid whitesmoke;
    box-shadow: rgba(94, 94, 94, 0.45) 0px 25px 20px -20px;
    width: 77%;
    margin: auto;
    height: 120px;
    margin-left:11.5%;
    margin-top: -80px;
    position: absolute;
    background-color: white;
   
}

#middlebox{
    background-color: whitesmoke;
    margin-top: -20px;
    border: 1px solid whitesmoke;
}


.explore{
position: absolute;
margin-top: -360px;
margin-left: 170px;
color: white;
font-size: 50px;
font-weight:bolder;
z-index: 20px;

}

.btuimg{
    position: relative;
}

.ExMore{
    position: absolute;
    top: 45%;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border:1px solid white;
    cursor: pointer;
    font-weight: 600;
    
    text-align: center;
}

.findinner{
    display: flex;
    gap: 51px;
    /* border: 2px solid blue; */
    
    width: 90%;
    margin: auto;
    margin-top:25px;
    font-weight: 100;
    font-size: 15px;

}

#HotelNameinput{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

#Datesinput{
    width: 100%;
    height: 50px; 
    border-radius: 5px;
    border: 1px solid gray;
}

#HotelsSubmit{
    width: 100%;
    height: 50px; 
    margin-top: 22px;
    background-color:#444054;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

#HotelsSubmit:hover{
    background-color: #53505f;
    cursor: pointer;
}


.findinner>div{
    width: 30%;
    
}

#mainImageBox{
    /* border: 2px solid black; */
   background-color: white;
    height:657px ;
}

#Peace{
    margin: auto;
    border: 2px solid transparent;
    width: 30%;
    font-size: 23px;
    text-align: center;
    font-weight:bolder;
    margin-top: 22px;
}

#BestRate{
    /* border: 2px solid blueviolet; */
    display: flex;
    gap: 10px;
    width: 74%;
    margin: auto;
    

}
#BestRate>div{
       width: 25%;
       /* border: 2px solid red; */
       display: flex;
       height: 35px;
}

#BestRate>div>label{
     margin-top: 5px;
     margin-left:10px;
     font-size: 17px;
     font-weight: 500;
     color: #80340e;
}

#BestRate>div>label:hover{
    text-decoration: underline;
    cursor: pointer;
}

#check{
    height: 700px;
}

#innersignin{
    width: 77.3%;
    border: 2px solid transparent;
    margin: auto;
    margin-top:50px;
    height: 375px;
    background-color:#1c1c1c;
}

.secondlogo{
    
    width:15%;
    height: 60px;
    margin: auto;
    margin-top:45px;
}

.sigininner{
    display: flex;
    gap: 20px;
    /* border: 2px solid white; */
    
    width: 90%;
    margin: auto;
    margin-top:25px;
    font-weight: 100;
    font-size: 15px;
}

#Emailinput{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

#passwordinput{
    width: 100%;
    height: 50px; 
    border-radius: 5px;
    border: 1px solid gray;
}

#signinbut{
    width: 100%;
    height: 50px; 
    margin-top: 22px;
    background-color:white;
    border: none;
    font-weight: 700;
    font-size: 15px;
    color:black;
}

#signinbut:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.Emailinput{
    width: 30%;
    color: white;
    margin-left:3%;
}

.Passwordinput{
    width: 40%;
    color: white;
}

.signinbut{
    width: 20%;
    color: white;
}

.Note{
    border: 2px solid transparent;
    width: 84%;
    margin: auto;
    color: white;
    margin-top: 25px;
}

.checkbox{
    margin-top: 20px;
   
}

.Note2{
    border: 2px solid transparent;
    width: 84%;
    margin: auto;
    color: white;
    margin-top:40px;
    display: flex;
    font-size:13px;
}

.Note2>div:hover{
    text-decoration: underline;
    cursor: pointer;
}

#firstPoster{
    width: 77.5%;
    /* border: 2px solid violet; */
    height: 450px;
    margin: auto;
    margin-top:55px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

#firstPoster>div{
    border: 1px solid rgb(247, 246, 246);
    border-bottom:2px solid gainsboro;
    width: 100%;
    background-color: white;
}

.leftsidePoster{
    /* border:2px solid gold; */
    width: 95%;
    height:100px;
    margin: auto;
   

}

.rightsidePoster{
    /* border:2px solid gold; */
    width: 95%;
    height:100px;
    margin: auto;

    
}

.tours{
    color: tomato;
    font-size:12px ;
    font-weight: bolder;
    margin-top: 45px;
    position: relative;
    bottom: 10px;
   
}

.tours:hover{
    text-decoration: underline;
    cursor: pointer;
}
.learn{
    color: tomato;
    font-size:12px ;
    font-weight: bolder;
    position: relative;
    bottom: 10px;
}

.learn:hover{
    text-decoration: underline;
    cursor: pointer;
}

#secondPoster{
    width: 77.5%;
    /* border: 2px solid violet; */
    height: 295px;
    margin: auto;
    margin-top:28px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

#secondPoster>div{
      border: 1px solid rgb(247, 246, 246);
      border-bottom:2px solid gainsboro;
      height: 100%;
      background-color: white;
}

#offersbtu{
    background-color: transparent;
    padding:10px 25px; 
    margin: auto;
    margin-top: 25px;
   width: 9%;
   border: 1px solid black;
   font-weight: bolder;
   
}

#offersbtu:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#thirdPoster{
   width: 77.5%;
   border: 2px solid white;
   margin: auto;
   margin-top:40px;
   height:120px;
   display: flex;
   background-color: white;
}

.thirdPostertital{
    font-size: 22px;
    font-weight: bolder;
    margin-top:45px;
}

.thirdPosterbtu{
    background-color: transparent;
    padding:10px 25px; 
    margin-left:14%;
    margin-top: 40px;
    height:20px;
   width: 9%;
   border: 1px solid black;
   font-weight: bolder;
}

.thirdPosterbtu:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


#fourthPoster{
    width: 77.5%;
    
    margin: auto;
    margin-top:40px;
    margin-bottom: 40px;
    height:120px;
    display: flex;
    background-color: black;
 }
 
 .fourthPostertital{
     font-size: 22px;
     font-weight: bolder;
     margin-top:45px;
     margin-left:37px;
     line-height: 0px;
     color: white;
 }
 
 .fourthPosterbtu{
     background-color: transparent;
     padding:10px 25px; 
     margin-left:28.5%;
     margin-top: 40px;
     height:20px;
      width: 9%;
     border: 1px solid white;
     color: white;
     font-weight: bolder;
     font-size: 15px;
 }
 
 .fourthPosterbtu:hover{
     background-color:white;
     color: black;
     cursor: pointer;
 }


 .hover{
     position: absolute;
     width: 100%;
    z-index: 1;
    /* height:400px;
     border: 2px solid blue; */
     top:125px;
     background-color: white;
     position: fixed;
 }

#find_reserve{
       width: 77.6%;
       /* border: 2px solid black; */
       margin: auto;
       margin-top: 45px ;
       margin-bottom: 40px;
}

.find_reserve_inner{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.find_reserve_destination{
    width:30%;
}

.find_reserve_dates{
    width: 30%;
}

.find_reserve_findHotels{
    width: 30%;
}
.find_reserve_class{
    margin-top: 20px;
}
.find_reserve_class>a{
  line-height: 30px;
  text-decoration: none;
  color: rgb(226, 148, 2);
}

.find_reserve_class>a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.find_reserve_vacation{
   font-size: 13px;
}

.find_reserve_vacation>a{
  text-decoration:none;
  font-weight: bolder;
  font-size: 10px;
  color:rgb(226, 148, 2) ;
}

.find_reserve_vacation>a:hover{
    text-decoration: underline;
}


#special_offers{
    width: 77.6%;
   /* border: 2px solid black;
   height: 350px; */
   margin: auto;
   margin-top: 45px ;
   margin-bottom: 40px;
   display: flex;
   gap: 20px;
}

#special_offers>div{
    flex: 1;
   
}

.special_offers_first>div{
  border-bottom: 1px solid gainsboro;
  padding:10px 0px;
}

.special_offers_first>div:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}


.special_offers_second>div{
    border-bottom: 1px solid gainsboro;
    padding:10px 0px;
  }
  
  .special_offers_second>div:hover{
      border-bottom: 2px solid black;
      cursor: pointer;
  }

  .special_offers_third{
      height: 200px;
  }

  .special_offers_foruth_1st{
      font-size: 24px;
      font-weight: bold;
  }

  .special_offers_foruth_2nd{
      /* border: 2px solid black; */
      width: 140px;
      padding:10px;
      margin-top: 20px;
      font-weight: 600;
      background-color:#444054;
      color: white;
  }

  .special_offers_foruth_2nd:hover{
    background-color: #53505f;
    cursor: pointer;
  }

  #vacation{
    width: 77.6%;
    /* border: 2px solid black;
    height: 350px; */
    margin: auto;
    margin-top: 45px ;
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
  }

  #vacation>div{
    flex: 1;
   
}

.vacation_first>div{
  border-bottom: 1px solid gainsboro;
  padding:10px 0px;
}

.vacation_first>div:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}


.vacation_second>div{
    border-bottom: 1px solid gainsboro;
    padding:10px 0px;
  }
  
  .vacation_second>div:hover{
      border-bottom: 2px solid black;
      cursor: pointer;
  }

  .vacation_third{
      height: 200px;
  }

  .vacation_fourth_1st{
      font-size: 24px;
      font-weight: bold;
  }

  .vacation_fourth_2st{
    font-size: 20px;
    font-weight: bold;
}

  .vacation_fourth_3rd{
      /* border: 2px solid black; */
      width: 160px;
      padding:10px;
      margin-top: 20px;
      font-weight: 600;
      background-color:#444054;
      color: white;
  }

  .vacation_fourth_3rd:hover{
    background-color: #53505f;
    cursor: pointer;
  }

 
  #about_marriott{
    width: 77.6%;
   /* border: 2px solid black;
   height: 350px; */
   margin: auto;
   margin-top: 45px ;
   margin-bottom: 40px;
   display: flex;
   gap: 20px;
}

#about_marriott>div{
    flex: 1;
   
}

.about_marriott_first>div{
  border-bottom: 1px solid gainsboro;
  padding:10px 0px;
}

.about_marriott_first>div:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}


.about_marriott_second>div{
    border-bottom: 1px solid gainsboro;
    padding:10px 0px;
  }
  
  .about_marriott_second>div:hover{
      border-bottom: 2px solid black;
      cursor: pointer;
  }

  .about_marriott_third{
      height: 200px;
  }

  .about_marriott_foruth_1st{
      font-size: 24px;
      font-weight: bold;
  }

  .about_marriott_foruth_2nd{
      /* border: 2px solid black; */
      width: 80px;
      padding:10px;
      margin-top: 20px;
      font-weight: 600;
      background-color:#444054;
      color: white;
  }

  .about_marriott_foruth_2nd:hover{
    background-color: #53505f;
    cursor: pointer;
  }


  #ourbrands{
    width: 77.6%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 45px ;
    margin-bottom: 40px;
}
