*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color:rgb(244, 244, 244);
}
#container{
    /* border: 2px solid red; */
  
    
}
#main{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#main>div{
    border: 1px solid rgb(214, 208, 208);
    background-color: white;box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    
}
#main>div>div{
    display: flex;
    /* border: 2px solid red; */
    gap: 6%;
   
}
#main>div>div:nth-child(1){
     border-bottom: 1px solid black;
     padding-bottom: 0.2%;
     display: flex;
     justify-content: space-between;
     padding-right: 2%;
     
     
}
#main>div>div>div>img{
  animation:5s  mywork ease-in infinite;
    height: 100%;
    width: 100%;
}
#main>div>div>div>img:hover{
    transition: 0.2s ease;
    transform: scale(0.9,0.9);
   
}
#main>div>div>div:nth-child(3){
    background-color: rgb(222, 230, 230);
    height: 20%;
    margin-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    width: auto;
    text-align: center;
}
#main>div>div:nth-child(2){

    justify-content: right;
    padding-right: 10%;
    gap: 10%;
    align-items: center;
    align-content: center;
}
#main>div>div:nth-child(2)>div:nth-child(2){
    height: 10%;
    width: 15%;
   text-align: center;
   padding: 0px;
   background-color: rgb(77, 73, 73);
   color: white;



}
#main>div>div:nth-child(2)>div:nth-child(2):hover{
    background-color: rgb(105, 102, 102);
    transition: 0.2s ease-in;
    cursor: pointer;
}
#main>div>div:nth-child(1)>div:nth-child(2)>div{
    display: flex;
    border: 0.3px solid rgb(247, 233, 233);
    justify-content: space-around;
    width: 80%;
}
#main>div>div>div{
    /* border: 2px solid red; */
}
#singel>div:nth-child(1)>div{
    display: flex;
    flex-flow: column;
}
@keyframes mywork {
     0%{
         opacity: 0.6;
     }
     50%{
         opacity: 1;
     }
     100%{
         opacity: 0.6;
     }
}

p{
    color: rgb(224, 79, 63);
 }
 p:hover{
     text-decoration: underline;
     
     cursor: pointer;
 }

#filter{
    display: flex;
    border: 1px solid rgb(184, 169, 169);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}
#for_filter{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    gap: 15px;
    
    align-items: center;
    /* gap: 20px; */
}
#for_filter>td{
margin-right: -6px;
}
#for_filter>button{
    padding: 1% 5px 1% 5px;
    border-radius: 20px;
    border: 0.2px solid rgb(230, 226, 226);
    background-color: white;
   
}
#for_filter>button:active{
    background-color: rgb(218, 233, 218);
}
#for_guest{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
   
    position: relative;

}
#for_guest>input{
 
  width: 20%;

}
#gest_per_room{
    /* border: 2px solid red; */
    text-align: center;
    width: 40%;
    /* height: 60px; */
   
}
#gest_per_room>p{
    margin-top: 3px;
    margin-bottom: 6px;
    border-bottom: 1px solid gray;
}
#for_filter>p:hover{
text-decoration: underline;
cursor: pointer;
}

